h1 {
    font-size: 40px;
    color: #000000;
    text-align: center;
}
label {
    font-size: 20px;
    color: #000000;
}
input, select {
    font-size: 18px;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #00f974;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #00c85a;
}
form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-color: #000000;
    background-color: #a5a5a5;
}
body {
    font-family: Arial, sans-serif;
    background-color: #6c6c6c;
    margin: 0;
    padding: 20px;
}
input[type=reset] {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}